body {
  background-color: blue;
}
.App {
  text-align: center;
}

h1 {
  font-size: 200px;
}

button{
  font-size: 40px;
  cursor: pointer;
  margin: 20px;
  border-radius: 10px;
}

.increment{
 background-color: greenyellow;
 width: 60px;
}
.decrement{
  background-color: red;
  width: 60px;
}
